html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: pink;
  overflow: hidden;
}

.container {
  display: flex;
  

}

.sideBar {
  background-color: antiquewhite;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
}

.mainPage {
  background-color: palevioletred;
  top: 0;
  right: 0;
  width: 80vw;
  height: 100vh;
}



.city {
  height: 50vh;
  background-color: papayawhip;
}

.options {
  height: 50vh;
  align-items: center;
  justify-content: center;
 
}

.btn {
  font-size: 1.5rem;
  width: 8rem;
  height: 6rem;
  display: block;
  margin: auto;
  margin-top: 2.5rem;
  
  
}

img {
  width: 16vw;
  object-fit: contain;
}

.description {
  padding: 0.5rem;
  overflow: hidden;
}

.keyboard {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 30px;
}

.key {
  padding: 2rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 80px;
  margin: auto;
}

.word {
  height: 70vh;
  padding: 20px;
  background-color: pink;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.letter {
  font-size: 6rem;
  border-radius: 20px;
  height: 200px;
  width: 200px;
  display: flex;
  background-color: bisque;
  margin: 10px;
  justify-content: center;
  align-items: center;
}