html, body {
  margin: 0;
  padding: 0;

  background-color: firebrick;
  overflow: hidden;
 
  
}

.App {
  height: 100vh;
}

.word {
  height: 60vh;
  width: 100vw;
  background-color: orange;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

p{
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.letter {
  font-size: 6rem;
  border-radius: 20px;
  height: 200px;
  width: 200px;
  display: flex;
  background-color: bisque;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.invletter {
  font-size: 6rem;
  border-radius: 20px;
  color: bisque;
  height: 200px;
  width: 200px;
  display: flex;
  background-color: bisque;
  margin: 10px;
  justify-content: center;
  align-items: center;
}



.container {
  display: flex;
  height: 30vh;
  width: 100vw;
  
}

.options {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  font-size: 1rem;
  width: 6rem;
  height: 4rem;
  margin: 1rem;
}


.keyboard {
  padding: 1rem;
  display: flex;
  width: 90vw;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 30px;
}

.key {
  padding: 2rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 80px;
 
}

