@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Dosis&family=Josefin+Sans:wght@600&family=Lobster&family=Merriweather:ital,wght@1,300&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-container {
  background-color: #89C9B8;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 3fr 1fr 2fr;
}

.grid-item{
  border-radius: 10px;
}

.grid-item-1 {
  grid-column: span 2;
  background-color: #E3F4F4;
  display: flex;
  flex-flow: row nowrap;

  justify-content: center;
  align-items: center;
}
.grid-item-2 {
  grid-column: span 2;
  background-color: #FFE5B9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}
.grid-item-3 {
  background-color: #E3F4F4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.grid-item-4 {
  background-color: #E3F4F4;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.letter {
  background-color: #FEFAE0;
  color: #5E454B;
  margin: 0.5em;
  flex: 0 1 2em;
  height: 2em;

  border: 2px solid #2e86bb;
  border-radius: 20px;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.key {
  background-color: #79B4B7;
  color: #FCF8E8;
  font-family: "Josefin Sans", sans-serif;
  margin: 0.2em;
  flex: 0 1 auto;
  
  border-radius: 5px;
  font-size: 1.5rem;
 
}

.btn {
  flex: 1 1 auto;
  
  
  margin: 10px;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  background-color: #F2D388;
  cursor: pointer;
  box-shadow: 5px 5px 0 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.span {
  position: absolute;
  text-decoration: none;
  color: #000;
  z-index: 1000;
 
}

.btn::after {
  content: "";
  top: 0;
  left: 0;
  width: 170px;
  height: 70px;
 
  opacity: 0;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: -5px -5px 0 0;
  transform: scale(0.9);
}
.btn:hover::after {
  opacity: 1;
}

.message {
  color: #00425A;
  font-family: "Lobster", sans-serif;
  font-size: 38px;
}

h2 {
  color: #00425A;
  font-family: "Dosis", sans-serif;
  
}

:disabled {
 
  color: #FFA299;
  transition: 0.2s;
}